main {
    display: grid;
    grid-template-columns: 80% 20%;
}

#board {
    margin: auto;
    margin-top: 0;
    background-color: black;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
}

#states {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.stateIcon {
    width: 40%;
}